* {
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    display: flex;
}

.header {
    position: fixed;
    height: 95px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: rgb(73, 66, 129);
}

.logogroup {
    position: absolute;
    height: 28px;
    left: 3.54%;
    right: 87.43%;
    top: 34px;
    background-color: rgb(49, 190, 77)
}

.headeritemlinks {
    position: relative;
    height: 40px;
    width: 1157px;
    left: 232px;
    top: 0px;
    background: rgb(190, 49, 49)
}