* {
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    display: flex;
}

.header {
    position: fixed;
    height: 95px;
    left: 0%;
    right: 0%;
    top: 0px;
}

.logogroup {
    position: absolute;
    height: 28px;
    left: 3.54%;
    right: 87.43%;
    top: 34px;

}

.headeritemlinks {
    position: absolute;
    height: 40px;
    left: 232px;
    right: 48.83%;
    top: 31px;
    background: rgb(73, 66, 129);
}